%h1{style: "margin-bottom: 40px;"}
  Your Vendors
  %span{style: "margin: -10px 0 10px 50px;"}
    = link_to "New Vendor", new_vendor_path, class: "btn btn-primary"

%table{id: "vendors", class: "table table-hover"}
  - @vendors.each do |vendor|
    %tr
      %td{style: "padding-right: 25px;"}
        =link_to vendor.name, vendor

%br
